httpx ~= 0.23.0
tornado~=6.1
cachetools~=4.2.2
APScheduler~=3.6.3
pytz>=2018.6

# Telegram BOT API wrapper
python-telegram-bot~=13.14

# translation
translate~=3.6.1

# text-to-speech
gTTS ~= 2.2.4

# API creation
fastapi ~= 0.85.0

# audio formatter
pydub ~= 0.25.1

# speech-to-text
SpeechRecognition ~= 3.8.1

# fastapi dependency
uvicorn ~= 0.18.3

# instalation dependency
wheel ~= 0.37.1
